<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcsays.lcmall.db.dao.WxAppMapper">
  <resultMap id="BaseResultMap" type="com.lcsays.lcmall.db.model.WxApp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="original_id" jdbcType="VARCHAR" property="originalId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="auth" jdbcType="INTEGER" property="auth" />
    <result column="wxa_code_url" jdbcType="VARCHAR" property="wxaCodeUrl" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, app_id, original_id, image, auth, wxa_code_url, type, mch_id, is_del
  </sql>
  <select id="selectByExample" parameterType="com.lcsays.lcmall.db.model.WxAppExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_app
    where id = #{id,jdbcType=INTEGER}
      and is_del = 
    <choose>
      <when test="andLogicalDeleted">
        1
      </when>
      <otherwise>
        0
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lcsays.lcmall.db.model.WxAppExample">
    delete from wx_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lcsays.lcmall.db.model.WxApp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wx_app (name, app_id, original_id, 
      image, auth, wxa_code_url, 
      type, mch_id, is_del)
    values (#{name,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{originalId,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{auth,jdbcType=INTEGER}, #{wxaCodeUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.lcsays.lcmall.db.model.WxApp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wx_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="originalId != null">
        original_id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="auth != null">
        auth,
      </if>
      <if test="wxaCodeUrl != null">
        wxa_code_url,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="originalId != null">
        #{originalId,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=INTEGER},
      </if>
      <if test="wxaCodeUrl != null">
        #{wxaCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lcsays.lcmall.db.model.WxAppExample" resultType="java.lang.Long">
    select count(*) from wx_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_app
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.originalId != null">
        original_id = #{record.originalId,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.auth != null">
        auth = #{record.auth,jdbcType=INTEGER},
      </if>
      <if test="record.wxaCodeUrl != null">
        wxa_code_url = #{record.wxaCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null">
        mch_id = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_app
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      original_id = #{record.originalId,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      auth = #{record.auth,jdbcType=INTEGER},
      wxa_code_url = #{record.wxaCodeUrl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      mch_id = #{record.mchId,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcsays.lcmall.db.model.WxApp">
    update wx_app
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="originalId != null">
        original_id = #{originalId,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="auth != null">
        auth = #{auth,jdbcType=INTEGER},
      </if>
      <if test="wxaCodeUrl != null">
        wxa_code_url = #{wxaCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcsays.lcmall.db.model.WxApp">
    update wx_app
    set name = #{name,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      original_id = #{originalId,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      auth = #{auth,jdbcType=INTEGER},
      wxa_code_url = #{wxaCodeUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicalDeleteByExample" parameterType="map">
    update wx_app set is_del = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    update wx_app set is_del = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>