<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lcsays.gg.dao.weixin.AddressDao">

    <resultMap id="AddressResultMap" type="com.lcsays.gg.models.ec.Address">
        <id column="id" property="id" />
        <result column="wx_ma_user_id" property="wxMaUserId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
    </resultMap>

    <select id="getAddressesByUser" parameterType="com.lcsays.gg.models.weixin.WxMaUser" resultMap="AddressResultMap">
        SELECT * FROM ec_address WHERE wx_ma_user_id=#{wxMaUser.id} AND is_del=0
    </select>

    <select id="getAddressById" parameterType="java.lang.Long" resultMap="AddressResultMap">
        SELECT * FROM ec_address WHERE id=#{addressId} LIMIT 1
    </select>

    <insert id="addAddress">
        INSERT INTO ec_address(wx_ma_user_id, name, `phone`, `address`)
        VALUES(#{address.wxMaUserId}, #{address.name}, #{address.phone}, #{address.address})
    </insert>

    <update id="updateAddress">
        UPDATE ec_address SET `name`=#{address.name}, `phone`=#{address.phone}, `address`=#{address.address}
        WHERE wx_ma_user_id=#{address.wxMaUserId}
    </update>

    <delete id="delAddress">
        UPDATE ec_address SET is_del=1 WHERE id=#{addressId}
    </delete>
</mapper>
